In [1]:
from src import *
form = {
    Generic('{}.json', DataTypes.IMAGE_SET_NAME): JSONFile({
        'images': GenericList([{
            'id': DataTypes.IMAGE_ID,
            'file_name': Generic('{}.jpg', DataTypes.IMAGE_NAME)
        }]),
        'categories': GenericList([{
            'id': DataTypes.BBOX_CLASS_ID,
            'name': DataTypes.BBOX_CLASS_NAME
        }]),
        'annotations': GenericList([{
            'image_id': DataTypes.IMAGE_ID,
            'category_id': DataTypes.BBOX_CLASS_ID,
            'bbox': GenericList([
                DataTypes.XMIN, DataTypes.YMIN, DataTypes.XMAX, DataTypes.YMAX
            ])
        }])
    }),
    'images': {
        Generic('{}.jpg', DataTypes.IMAGE_NAME): Image()
    }
}
cvdata = CVData('/Users/atong/Documents/Datasets/Avo', form)
cvdata.cleanup()

[CVData] Cleaning up data...
[CVData] Converting IMAGE_SET names to IMAGE_SET_ID
[CVData] Done!

In [1]:
from src import *
alias = Alias([
    Generic("{}", DataTypes.IMAGE_NAME),
    Generic("{}_{}", DataTypes.CLASS_NAME, DataTypes.GENERIC)
])
root = '/Users/atong/Documents/Datasets/OxfordPets'
form = {
    Static("annotations"): {
        Generic("{}.txt", DataTypes.IMAGE_SET_NAME): TXTFile(
            Generic(
                "{} {} {} {}", alias, DataTypes.CLASS_ID, DataTypes.GENERIC, DataTypes.GENERIC
            ),
            ignore_type = '#'
        )
    },
    Static("images"): {
        Generic("{}.jpg", alias): Image()
    },
    Static("class.txt"): TXTFile(
        Generic("{} {}", DataTypes.CLASS_NAME, DataTypes.CLASS_ID)
    )
}
cvdata = CVData(root, form)
cvdata.cleanup()

[CVData] Cleaning up data...
[CVData] Converting IMAGE_SET names to IMAGE_SET_ID
[CVData] Done!

In [2]:
dataloader = cvdata.get_dataloader('detection', 'test')

Removed 0 NaN entries.

In [6]:
dataset = cvdata.get_dataset('detection', 'temp')

Removed 0 NaN entries.

In [5]:
cvdata.image_set_to_idx

{'test': 0, 'default': 1, 'trainval': 2, 'list': 3}

In [5]:
cvdata.dataframe[['BBOX_CLASS_ID', 'XMIN']].iloc[0]['BBOX_CLASS_ID']

[3, 3, 3, 0, 3, 3, 3, 1]

In [8]:
cvdata.image_set_to_idx

{'train': 0, 'default': 1, 'temp': 2, 'temp2': 3, 'val': 4, 'test': 5}

In [9]:
cvdata.available_modes

[]

In [2]:
a = cvdata.dataframe.loc[cvdata.dataframe['CLASS_NAME'] == 'keeshond']['CLASS_ID']

In [2]:
cvdata.dataframe

,IMAGE_NAME,CLASS_NAME,GENERIC,CLASS_ID,IMAGE_SET_NAME,ABSOLUTE_FILE
0,japanese_chin_158,japanese_chin,2,12.0,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...
1,boxer_199,boxer,2,5.0,"[list, test]",/Users/atong/Documents/Datasets/OxfordPets/ima...
2,japanese_chin_159,japanese_chin,2,12.0,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...
3,boxer_19,boxer,2,5.0,"[list, test]",/Users/atong/Documents/Datasets/OxfordPets/ima...
4,japanese_chin_15,japanese_chin,2,12.0,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...
...,...,...,...,...,...,...
7385,keeshond_127,keeshond,2,13.0,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...
7386,Russian_Blue_237,Russian_Blue,1,10.0,"[list, test]",/Users/atong/Documents/Datasets/OxfordPets/ima...
7387,Russian_Blue_239,Russian_Blue,1,10.0,"[list, test]",/Users/atong/Documents/Datasets/OxfordPets/ima...
7388,keeshond_128,keeshond,2,13.0,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...
7389,keeshond_129,keeshond,2,13.0,"[list, trainval]",/Users/atong/Documents/Datasets/OxfordPets/ima...

In [5]:
isinstance(a.iloc[75], float)

True

In [4]:
a.iloc[75]

13.0

In [2]:
cvdata.class_to_idx

{'japanese_chin': 12.0,
 'boxer': 5.0,
 'keeshond': 13.0,
 'leonberger': 14.0,
 'British_Shorthair': 5.0,
 'Maine_Coon': 7.0,
 'miniature_pinscher': 15.0,
 'Russian_Blue': 10.0,
 'chihuahua': 6.0,
 'saint_bernard': 19.0,
 'shiba_inu': 22.0,
 'german_shorthaired': 9.0,
 'newfoundland': 16.0,
 'Persian': 8.0,
 'Egyptian_Mau': 6.0,
 'samoyed': 20.0,
 'english_cocker_spaniel': 7.0,
 'pomeranian': 17.0,
 'pug': 18.0,
 'scottish_terrier': 21.0,
 'Ragdoll': 9.0,
 'english_setter': 8.0,
 'wheaten_terrier': 24.0,
 'Siamese': 11.0,
 'great_pyrenees': 10.0,
 'Sphynx': 12.0,
 'staffordshire_bull_terrier': 23.0,
 'havanese': 11.0,
 'yorkshire_terrier': 25.0,
 'basset_hound': 3.0,
 'Abyssinian': 1.0,
 'american_bulldog': 1.0,
 'american_pit_bull_terrier': 2.0,
 'beagle': 4.0,
 'Bengal': 2.0,
 'Birman': 3.0,
 'Bombay': 4.0}

In [3]:
cvdata.classes

['Abyssinian',
 'american_bulldog',
 'american_pit_bull_terrier',
 'Bengal',
 'basset_hound',
 'Birman',
 'beagle',
 'Bombay',
 'boxer',
 'British_Shorthair',
 'chihuahua',
 'Egyptian_Mau',
 'Maine_Coon',
 'english_cocker_spaniel',
 'Persian',
 'english_setter',
 'german_shorthaired',
 'Ragdoll',
 'Russian_Blue',
 'great_pyrenees',
 'Siamese',
 'havanese',
 'japanese_chin',
 'Sphynx',
 'keeshond',
 'leonberger',
 'miniature_pinscher',
 'newfoundland',
 'pomeranian',
 'pug',
 'saint_bernard',
 'samoyed',
 'scottish_terrier',
 'shiba_inu',
 'staffordshire_bull_terrier',
 'wheaten_terrier',
 'yorkshire_terrier']